{% extends "fruit_shop/base.html" %}


{% block main %}
<h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;" >Este es su Carrito</h1>
<div class='product-list-container product-list-container2'>
    {% if cart %}
        {% for fruit in cart %}
            <div class='card-container1 card-container12'>
                <div class='card-container2 card-container'>
                    <div class='item-container2 item-container'>
                        <h2> {{fruit.fruit.name}} </h2>
                        <img src="{{fruit.fruit.photo}}" alt="error"/>
                        <p id= "detail-card"style="margin-bottom: 5px">{{ fruit.fruit.detail }}</p>
                        <p style="margin-bottom: 5px">${{ fruit.total_price }}</p>
                        <p> Cantidad: {{fruit.quantity}} kg </p>
                        <div style=" display: flex">
                            <form  action="{% url 'cart_delete' fruit.fruit.id %}" method="post">
                                {% csrf_token %}
                            
                                <button style=" padding: 5px 2px; margin: 0px 3px" type="submit"> <a class="nav-link"> Eliminar del Carrito </a></button>
                            </form>
                            <button style=" padding: 5px 2px; margin: 0px 3px"> <a class="nav-link" href="{% url 'cart_edit' fruit.fruit.id %}"> Editar del Carrito </a></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No hay entradas aún</h2>
    {% endif %}
</div>

<h2>Total a pagar es: <span style="background-color: #f8ac18; border-radius: 50px;">$ {{ total }}</span></h2>

<form  action="{% url 'cart_purchase' %}" method="post">
    {% csrf_token %}    
    <button class='button' type="submit" style="background-color: red;">Hacer la Comprar</button>
</form>

{% endblock main %}