{% extends "fruit_shop/base.html" %}

{% block main %}

<h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;">
    Catálogo
</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="product-list-container">
    {% if fruits %}
        {% for f in fruits %}
            <div class="card-container1">
                <div class="card-container">
                    <div class="item-container">
                        <h2> {{f.name}} </h2>
                        <img src="{{f.photo}}" alt="fotofruta"/>
                        <p>{{ f.detail }}</p>
                        <p> $ {{f.price}} Kg</p>
                        <button>
                            <a class="nav-link" href="{% url 'detail' f.id %}">Ver Más</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No hay entradas aún</h2>
    {% endif %}

{% endblock main %}


