{% extends "fruit_shop/base.html" %}

{% block main %}
    {% load static %}
    <script>
        window.data = { max_quantity: {{ fruit.max_quantity }}}
    </script>
    <h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;"> Detalle </h1>
    <div class='itempages-container'>
        <div class='pages-container'>
            <div class='grid-container'>
                <div class='image-container'>
                    <img src="{{fruit.photo}}" alt="fruit"/>
                </div>
                <div class='data-container'>
                    <h1>  {{fruit.name}}  </h1>
                    <div class='descripcion-container'>
                        <h2>{{ fruit.pages }}</h2>
                        <p class="descripcion"> {{ fruit.description }} </p>
                        <p> Precio : $ {{fruit.price}} Kg </p>
                    </div>
                    <div class='Itemcount-container'>
                        <div class="Itemcount">
                            <div class='ItemCount-add'>
                            <button class="removeButton" id="restar" >
                                -
                            </button>
                            <strong class="count"> 
                                <span id="numKg">
                                    {% if attribute_url == 'pages' %}
                                        1
                                    {% else %}
                                        {{quantity}}
                                    {% endif %}
                                </span> 
                                Kg 
                            </strong>
                            <button class="addButton" id="sumar" >
                                +
                            </button>
                            </div>
                            
                            <form  action=" {% if attribute_url == 'pages' %}
                                                {% url 'cart_add' fruit.id %}
                                            {% else %}
                                                {% url 'cart_Edit_confirm' fruit.id %}
                                            {% endif %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                
                                <button class='addCarrito' type='submit'> 
                                    {% if attribute_url == 'pages' %}
                                        Agregar al carrito
                                    {% else %}
                                        Editar Cantidad
                                    {% endif %}
                                </button>
                            </form>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>

{% endblock main %}
