{% extends "fruteria/base.html" %}


{% block main %}

<h1>Este es su Carrito:</h1>
<div class='product-list-container product-list-container2'>
    {% for fruta in carrito %}
        <div class='card-container1 card-container12'>     
            <div class='card-container2 card-container'>
                <div class='item-container2 item-container'>
                  <h2> {{fruta.fruit.name}} </h2>
                  <img src="{{fruta.fruit.photo}}" alt="error"/> 
                  <p> $  {% with resultado = {{fruta.fruit.price}}*{{fruta.quantity}} %}{{ resultado }}{% endwith %}</p>
                  <p> Cantidad: {{fruta.quantity}} kg </p>
                  <p> Cantidad: {{fruta.quantity}} kg </p>
                  <button>  Eliminar del Carrito </button>
                </div>
              </div>
        </div>
    {% endfor %}
</div>

<h2>Total a pagar es : <span>$ 1000</span></h2>

<button class='button'>Comprar</button>

{% endblock main %}