{% extends "fruteria/base.html" %}


{% block main %}
<h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;" >Este es su Carrito</h1>
<div class='product-list-container product-list-container2'>
    {% for fruta in carrito %}
        <div class='card-container1 card-container12'>
            <div class='card-container2 card-container'>
                <div class='item-container2 item-container'>
                    <h2> {{fruta.fruit.name}} </h2>
                    <img src="{{fruta.fruit.photo}}" alt="error"/>
                    <p id= "detail-card"style="margin-bottom: 5px">{{ fruta.fruit.detail }}</p>
                    <p style="margin-bottom: 5px">${{ fruta.total_price }}</p>
                    <p> Cantidad: {{fruta.quantity}} kg </p>
                    <div style=" display: flex">
                        <button style=" padding: 5px 2px; margin: 0px 3px"> <a class="nav-link" href="{% url 'cart_delete' fruta.fruit.id %}"> Eliminar del Carrito </a></button>
                        <button style=" padding: 5px 2px; margin: 0px 3px"> <a class="nav-link" href="{% url 'cart_edit' fruta.fruit.id None %}"> Editar del Carrito </a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h2>Total a pagar es: <span style="background-color: #f8ac18; border-radius: 50px;">$ {{ total }}</span></h2>
<form>
<button class='button' style="background-color: red;">Hacer la Comprar</button>
</form>
{% endblock main %}