{% extends "fruteria/base.html" %}

{% block main %}

<h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;">
    Catálogo
</h1>

<div class="product-list-container">
    
    {% for f in frutas %}
        <div class="card-container1">
            <div class="card-container">
                <div class="item-container">
                    <h2> {{f.name}} </h2>
                    <img src="{{f.photo}}" alt="fotofruta"/>
                    <p>{{ f.detail }}</p>
                    <p> $ {{f.price}} Kg</p>
                    <button>
                        <a class="nav-link" href="{% url 'detail' f.id %}">Ver Más</a>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock main %}


