{% extends "fruteria/base.html" %}

{% block main %}
    {% load static %}
    <script>
        window.data = { max_quantity: {{ fruta.max_quantity }}}
    </script>
    <h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;"> Detalle </h1>
    <div class='itemdetail-container'>
        <div class='detail-container'>
            <div class='grid-container'>
                <div class='image-container'>
                    <img src="{{fruta.photo}}" alt="Fruta"/>
                </div>
                <div class='data-container'>
                    <h1>  {{fruta.name}}  </h1>
                    <div class='descripcion-container'>
                        <h2>{{ fruta.detail }}</h2>
                        <p class="descripcion"> {{ fruta.description }} </p>
                        <p> Precio : $ {{fruta.price}} Kg </p>
                    </div>
                    <div class='Itemcount-container'>
                        <div class="Itemcount">
                            <div class='ItemCount-add'>
                            <button class="removeButton" id="restar" >
                                -
                            </button>
                            <strong class="count"> <span id="numKg">1</span> Kg </strong>
                            <button class="addButton" id="sumar" >
                                +
                            </button>
                            </div>
                            
                            <form  action=" {% if atributo_url == 'detail' %}
                                                {% url 'cart_add' fruta.id %}
                                            {% else %}
                                                {% url 'cart_Edit_confirm' fruta.id %}
                                            {% endif %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                
                                <button class='addCarrito' type='submit'> Agregar al carrito </button>
                                {% if mensaje != None %}
                                    <p>{{mensaje}}</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>

{% endblock main %}
