{% extends "fruteria/base.html" %}


{% block main %}

<h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;"> Se ah agregado al carrito con exito !!!</h1>
<div class="card-container1" style=" border: 0px; box-shadow: none">
    <div class="card-container" style="background: transparent; border: 0px;">
        <div class="item-container" id="mensaje">
            <div style="display=flex">
                <button style="margin-bottom: 30px;">
                    <a class="nav-link" href="{% url 'catalogo' %}">Ir al Catálogo</a>
                </button>
                <button>
                    <a class="nav-link" href="{% url 'home' %}">Ir al Carrito</a>
                </button>
            <div>
        </div>
    </div>
</div>

{% endblock main %}
